<!--Doesn't use header.ejs because eachPoll is inside pools-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vote Crew</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href = "../style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro|Zilla+Slab" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  </head>
<%include nav.ejs %>
<div id = "home" class="container">
    <h1 id="indivPoll"><%=thisPoll.title%></h1>
    
    <canvas id="myChart" style="display: block; color: white;" width="500"></canvas>
    
    <% for(var i=0;i<thisPoll.choices.length;i++){ %>
        <div class="choice-container">
            <button class = "btn poll-choice" id="<%=thisPoll.choices[i].title%>"><%=thisPoll.choices[i].title %></button>
        </div>
    <%}%>
    <div id="other">
        <% if(authenticated){ %>
            <% if(isUserPoll){ %>
                <button class="btn btn-danger" id="delete-button">Delete</button>
            <%}%>
        <%}%>
    </div>
     <script>
        var choicesArray = [];
        var choicesCount = [];
        var colorsArray = addColor();
        var data = <%- JSON.stringify(thisPoll.choices) %>; 
        var id =  <%- JSON.stringify(thisPoll._id) %>          
            
        $('.choice-container button').click(function(){
            $.ajax({
                url: '/polls/' + id,
                type: 'PUT',
                data: "choice="+$(this).attr('id'),
                success: function(result) {
                    if(result.updated){
                        location.reload();
                    }else{
                        alert(result.message)
                    }
                }
            });
        });
        
        $('#delete-button').click(function(){
            if(confirm('Are you sure you want to delete this poll')){
            $.ajax({
                url: '/polls/' + id,
                type: 'DELETE',
                success: function(result){
                    alert(result.message);
                    window.location.href="/polls";  
                }
            });
        }
    });
    
        function addColor(){
        var colors = ["#3366CC", "#DC3912", "#FF9900", "#109618", "#99099", "#3B3EAC", "#0099C6", "#DD4477", "#66AA00"];
        function rgb(){
            return Math.floor((Math.random() * 10)+1);
        }                        
            return colors;
        }
                          
        data.map(function(choice){choicesArray.push(choice.title)});
        data.map(function(number){choicesCount.push(number.count)});
                          
        var canvas = document.getElementById("myChart");
                
        var myChart = new Chart(canvas, {
                        type: 'pie',
                        data: {
                            labels: choicesArray,
                            datasets: [{
                                data:choicesCount,
                                backgroundColor: colorsArray,
                                borderWidth: 0.0
                            }]
                        },
                        options:{
                            maintainAspectRatio: true,
                            responsive:true,
                            layout:{
                                padding:{
                                    left:10,
                                    top:200
                                }
                            },
                            legend:{
                                display: true,
                                labels:{
                                    fontSize: 20,
                                    
                                }
                            }
                        }
                    });
                                               
        </script>
</div>